* {
  margin: 0px;
  padding: 0px;
}

:root {
  --background: #fff;
  --text-primary: #000;
  --text-secondary: #e2eeee;
  --accent: #eeab4d;
}
[data-theme="dark"] {
  --background: #000;
  --text-primary: #fff;
  --text-secondary: rgb(96, 96, 96);
  --accent: #eeab4d;
}

body {
  font-family: sans-serif;
  background-color: #fff;
  color: #000;
}
